<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="../static/resources/js/script.js" type="text/javascript"></script>

    
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

</head>
<body>
    <div class="ui container">
        <header>
            <h1 >Neuen Platz erstellen</h1>
        </header>
        <nav th:include="navigation :: navigation"></nav>

    <div>
        <form sec:authorize="hasRole('BOSS')" class="ui form" th:action="@{/addCampsite}" method="post">
            <lable for="name">Name des Platzes</lable>
            <input type="text" id="nameid" name="name"/>
            <br/>
            <br/>

            <div>
                <label for="size">Größe des Platzes</label>
                <br/>
                <label for="small">Klein</label>
                <input type="radio" name="size" value="SMALL"></input>
                <label for="medium">Mittel</label>
                <input type="radio" name="size" value="MEDIUM"></input>
                <label for="large">Groß</label>
                <input type="radio" name="size" value="LARGE"></input>
            </div>
            <br>
            <div>
                <lable for="parkinsize">Gibt es einen Parkplatz?</lable>
                <br/>
                <label for="no">Kein Parkplatz</label>
                <input type="radio" name="parkingSpace" value="NO"></input>
                <label for="bike">Motorrad/Fahrrad</label>
                <input type="radio" name="parkingSpace" value="BIKE"></input>
                <label for="car">Auto</label>
                <input type="radio" name="parkingSpace" value="CAR"></input>
                <label for="trailer">Campingwagen/Wohnmobil</label>
                <input type="radio" name="parkingSpace" value="TRAILER" ></input>
            </div>
            <br>
            <div>
                <label for="info">Beschreibung</label>
                <textarea id="info" name="info" cols="40" rows="5" required="required"></textarea><br/>

            </div>

            <br/>
            <br/>
            <br/>

            <button type="submit" class="ui labeled icon button">
                <i class="icon add"></i><span th:text="Erstellen"> Werte aktualisieren</span>
            </button>

        </form>
        
    </div>

    </div>

</body>
</html>