
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <title th:text="#{customers.title}">Kundenliste</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1 th:text="#{customers.title}">Kundenliste</h1>
    </header>
    <nav th:include="navigation :: navigation"></nav>



    <table class="ui celled table">
        <thead>
        
        <tr>
            <th><a class="item" href="usersemployee.html" th:href="@{/usersemployee}"
                text="">Angestellte</a></th>
            
            <th><a class="item" href="userscustomer.html" th:href="@{/userscustomer}"
                text="">Kunden</a></th>
        </tr>
        </thead>

        
    <table class="ui celled table">
        <thead>
        
        <tr>
            <th th:text="#{customers.name}">Name</th>
            <th th:text="#{customers.mail}">Anschrift</th>
            <th th:text="#{customers.role}">Anschrift</th>
            <th></th>
        </tr>
        </thead>
        
        <tbody th:remove="all-but-first">
        
            <div th:each=" customer : ${customerList}">
           

            <div th:if="${customer.userAccount.hasRole('CUSTOMER')}">
            <td th:text="${customer.userAccount.id}">Paul</td>
            <td th:text="${customer.mail}">Nöthnitzer Straße 46</td>
            
             <div th:each="val, stat : *{customer.userAccount.getRoles()}">
                <td th:text="${val}"></td>
                <td><a class="item" href="orderhistory.html" th:href="@{/findOrders/{account} (account=${customer.userAccount.id})}" sec:authorize="hasAnyRole('BOSS','EMPLOYEE')" method="GET"
                    th:text="#{nav.orders}">Bestellungen</a></td>
            </div> 
         </div> 

      

            <tr> 
               <div th:if="${customer.userAccount.hasRole('EMPLOYEE')}">
                <td th:text="${customer.userAccount.id}">Paul</td>
                <td th:text="${customer.mail}">Nöthnitzer Straße 46</td>
                
                 <div th:each="val, stat : *{customer.userAccount.getRoles()}">
                    <td th:text="${val}"></td>
                    <td><a class="item" href="users.html" th:href="@{/deleteAccount/{account} (account=${customer.id})}" sec:authorize="hasAnyRole('BOSS','EMPLOYEE')" text="">Account löschen</a></td>
                </div> 
            </tr>
        </div>


        </tbody>
    </table>
</div>
</body>
</html>