<div th:replace="fragments/head"></div>

<img th:src="@{/resources/img/impressum.jpg}" src="../static/resources/img/campsite.jpg" class="img-fluid rounded-top"
    alt="placeholder">
<div class="ui container">
    <h2>Impressum-Below the Sun</h2>

    <div id="gf_page_steps_31" class="gf_page_steps">
        <div id="gf_step_31_1" class="gf_step gf_step_pending gf_step_first"><span class="gf_step_number"></span> <span
                class="gf_step_label">Allgemeine Informationen</span></div>
        <div id="gf_step_31_2" class="gf_step gf_step_pending"><span class="gf_step_number"></span> <span
                class="gf_step_label">Rechtliche Informationen</span></div>
        <div id="gf_step_31_3" class="gf_step gf_step_last gf_step_active"><span class="gf_step_number"></span> <span
                class="gf_step_label">Impressum</span></div>
    </div>
    <p><strong>Below the Sun</strong><br />
        Below the Sun 69 straight 420<br />
        06114 Suntown<br /></p>
    <p>
        Telefon: +933 6942069<br />

        E-Mail: info@belowthesun.de<br /></p>
    <p>
        Die <strong>Below the Sun</strong> GmbH & Co.KG wird vertreten durch die persönlich haftende Gesellschaftlerin:
        Mr.
        Sun <br />
        Diese wiederum wird vertreten durch die Geschäfstführer(in): Dr. Mr. Sun
    </p>
    <p><strong>Registereintrag:</strong><br />
        Eingetragen im Handelsregister<br />
        Beim Registergericht: Suntown<br />
        Unter der Registernummer: SUN 99299<br /></p>
    <p>
        Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE 696969<br />
        Wirtschaftsidentikifationsnummer gemäß §139 c Abgabeordnung: DE 42069<br /><br /></p>
    <p></p>
</div>
<div th:replace="fragments/foot"></div>