<div th:replace="fragments/head"></div>
<div class="welcomefoto clear">
    <div class="welcomeText">
        <p class="welcomep"> Sie suchen den perfekten Campingplatz für Ihren nächsten Urlaub?</p>
    </div>

</div>
<div class="clear"></div>
<p class="welcomep1"></p>
<div class="welcomebody">
    <h1>Herzlich Willkommen!</h1>
    <p>Sie suchen einen Campingplatz in der Natur, um sich zu erholen? Dann sind Sie bei dem Campingplatz Below-The-Sun genau richtig!
        <p></p>

        <h1>Entdecken Sie unsere Natur und ... </h1>
        <img th:src="@{/resources/img/INDEX/natur.jpg}" src="../static/resources/img/campsite.jpg" class="natur"
            alt="placeholder">

        <div class="parkplatz">
            <h1>Natur</h1>
            <p></p>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/natur2.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory"> </p>
                <p></p>
                <p></p>
            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/walt.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory"> </p>
                <p></p>
                <p></p>
            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/star.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory"> </p>
                <p></p>
                <p></p>
            </div>

        </div>


        <div class="clear"></div>
        <div class="parkplatz">
            <h1>Campingplätze</h1>
            <p>Bei uns gibts für jeden etwas. Unsere Parkplätze sind in drei Kategorie geteilt. </p>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/klein.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory">Klein </p><br>
                <p>Optimale Größe für unsere wandernden Gäste oder Zweiräder.</p>
                <p></p>
            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/mittel.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory">Mittel </p><br>
                <p>Mittelgroße Plätze sind Perfekt für PKW mit einem kleinen Wohnanhänger.</p>
                <p></p>
            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/groß.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory">Groß </p><br>
                <p>Ein großer Parkplatz ist perfekt für Wohnmobile und wer einfach viel Platzt benötigt.</p>
                <p></p>
            </div>

        </div>


        <div class="clear"></div>
        <div class="parkplatz">
            <h1>Sport & Freizeitbedarf </h1>
            <p>Bei uns können Sie gegen ein Kaution und eine Tagesgebühr verschiedenes Freizeitequipment mieten.</p>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/volley.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory">Volleyballnetz</p>
                <br>
                <p></p>
            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/table-tennis.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory">Tischtennisgarnitur</p><br>
                <p></p>
            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/ball.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p class="gory">Ball</p><br>
                <p></p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="parkplatz">
            <h1>Rabbate & Extras</h1>
            <p></p>
        </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/gruppen.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p > Gruppen erhalten einen Gruppenrabatte von 5% auf die Plätze.</p><br>
                <!-- <p class="gory"> Gruppenrabatt </p> -->
            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/camp.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p >Ein gesonderter Bereich von Below-The-Sun ist in sogenannte Saisonstellplätze
                    aufgeteilt.
                    Hier bekommen Dauercamper jedes Jahr von April bis Oktober denselben Platz zugewiesen, sofern sie
                    sich rechtzeitig anmelden.</p>
                <br>
                <!-- <p class="gory">Saisonstellplatz</p> -->

            </div>
            <div class="accommodation col-quarter">
                <img th:src="@{/resources/img/INDEX/light.jpg}" src="../static/resources/img/campsite.jpg"
                    class="accommprev" alt="placeholder">
                <p></p>
                <p > Natürlich muss auch der Verbrauch von Strom und Wasser abgerechnet werden.
                    Die Stellplätze für Dauercamper haben entsprechende Anschlüsse mit Stromzähler und Wasseruhr.
                    Hier kann der Verbrauch direkt abgelesen werden, die Abrechnung erfolgt monatlich oder bei Abreise.
                    Alle anderen Kunden bezahlen Pauschalbeträge pro Tag.
                    Sie bekommen bei der Abreise eine Gesamtrechnung über Platzgebühren und Nebenkosten.</p><br>
                <!-- <p class="gory"> Gruppenrabatt </p> -->
            </div>
            <!--<div class="accommodation col-quarter">
                                <img th:src="@{/resources/img/impressum.jpg}" src="../static/resources/img/campsite.jpg"
                                class="accommprev" alt="placeholder">
                                <p></p>
                                <p class="gory">Saisonrabbate</p>
                                </div>
                            </div>-->
            <div class="clear"></div>
            <img width="800" height="600" th:src="@{/resources/img/Map.jpg}" src="../static/resources/img/Map.jpg" usemap="#image-map">


<map name="image-map">
    <area target="" alt="" title="Auf dem alten Indianerfriedhof 4" href="/campsiteName/Auf dem alten Indianerfriedhof 4" coords="65,58,20" shape="circle">
    <area target="" alt="" title="Im Parkhaus 22" href="/campsiteName/Im Parkhaus 22" coords="266,33,21" shape="circle">
    <area target="" alt="" title="In der Nische 76" href="/campsiteName/In der Nische 76" coords="509,16,17" shape="circle">
    <area target="" alt="" title="Die Königsklasse 2" href="/campsiteName/Die Königsklasse 2" coords="614,135,23" shape="circle">
    <area target="" alt="" title="In der Höhle 19" href="/campsiteName/In der Höhle 19" coords="466,184,21" shape="circle">
    <area target="" alt="" title="In der Mitte 1" href="/campsiteName/In der Mitte 1" coords="287,213,21" shape="circle">
    <area target="" alt="" title="Auf dem Berg 36" href="/campsiteName/Auf dem Berg 36" coords="34,204,20" shape="circle">
    <area target="" alt="" title="In der Hölle 666" href="/campsiteName/In der Hölle 666" coords="50,351,21" shape="circle">
    <area target="" alt="" title="Auf der Insel 97" href="/campsiteName/Auf der Insel 97" coords="99,583,20" shape="circle">
    <area target="" alt="" title="Am Südstrand 3" href="/campsiteName/Am Südstrand 3" coords="406,500,21" shape="circle">
    <area target="" alt="" title="In der Bucht 7" href="/campsiteName/In der Bucht 7" coords="276,414,11" shape="circle">
</map>
        <div class="parkplatz">
            
            <h1>Kontakt</h1>
            <p>Reservieren Sie Ihren Platz noch heute telefonisch, per E-Mail oder Registrieren Sie sich und führen
                Sie die Reservierung selbst durch!</p>
            <div class="col-quarter">
                <p>Adresse</p>
                <br>Below the Sun
                <br>Below the Sun 69 straight 420
                <br>06114 Suntown
            </div>
            <div class="col-quarter">
                <p>Sie erreichen uns</p>
                <br>von 08:00 - 20:00 Uhr
                <br> Tel:+993 6942069
                <br>Fax: +993 6942070
                <br>E-Mail: info@belowthesun.de
            </div>


            <div class="clear"></div>
        </div>

        <!-- <div class="clear"></div> -->
        <!-- <div class="row1">
            <div class="col-quarter">
                <h4>Camping</h4>
                <ul class="foo">
                    <li><a href="#">Karriere</a></li>
                    <li><a href="#">Presse</a></li>
                    <li><a href="#">Richtlinien</a></li>
                    <li><a href="#">Hilfe</a></li>
                    <li><a href="#">Kulturelle Vielfalt</a></li>
                    <li><a href="#">Impressum</a></li>
                </ul>
            </div>

            <div class="col-quarter">
                <h4>Entdecken</h4>
                <ul class="foo">
                    <li><a href="#">Vertrauen &amp; Sicherheit</a></li>
                    <li><a href="#">Reiseguthaben</a></li>
                    <li><a href="#">Camping Citizen</a></li>
                    <li><a href="#">Geschäftsreisen</a></li>
                    <li><a href="#">Reiseführer</a></li>

                </ul>
            </div>
            <div class="col-quarter">
                <h4> Empfehlen Sie uns weiter </h4>
                <ul class="foo">
                    <a href="https://twitter.com/?lang=de"><img th:src="@{/resources/img/social/twitter.png}"
                            src="../static/resources/img/campsite.jpg" class="social" alt="placeholder"></a>
                    <a href="https://twitter.com/?lang=de"><img th:src="@{/resources/img/social/facebook (1).png}"
                            src="../static/resources/img/campsite.jpg" class="social" alt="placeholder"></a>
                    <a href="https://twitter.com/?lang=de"><img th:src="@{/resources/img/social/pinterest.png}"
                            src="../static/resources/img/campsite.jpg" class="social" alt="placeholder"></a>
                    <li>Icons erstellt von <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                            href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a></li>

                </ul>

            </div>
        </div> -->
    </div>


        <div>
        </div>

        <div th:replace="fragments/foot"></div>