<div th:replace="fragments/head"></div>

<main>

<form class="w-400 mw-400 m-auto" role="form" th:action="@{/login-secret}" method="post">
    <header class="ui container">
        <h1>2FA Code eingeben:</h1>
    </header>
   

        <input type="hidden" name="name" th:value="${name}">
        <input type="number" class="form-control" name="code" autofocus="autofocus"
            placeholder="Code" required="required">
</br>
    <input class="btn btn-primary" type="submit" value="Absenden">
</form>
</main>

<div th:replace="fragments/foot"></div>