<div th:replace="fragments/head"></div>

<center>
			<span th:text="${message}"></span>

			<form action="#" th:action="@{/confirm-reset}" th:object="${user}" method="get">  
                <table>      
                    <tr>  
                        <td><label for="token">Token</label></td>  
                        <td><input type="token" id="token" name="token"/> <br/></td>  
                    </tr>  
                    <tr>  
                        <td><input type="reset" value="Clear"/></td>  
                        <td><input type="submit" value="Submit"></input></td>  
                    </tr>  
                </table>  
            </form> 
		</center>

<div th:replace="fragments/foot"></div>

